@import "../../../scss/main";

.assignTask {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 1.25rem;
    grid-row-gap: 2.5rem;
    margin-bottom: 4rem;
}

.assignTask_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2.5rem;
    margin-bottom: 9.81rem;
}

.task {
    border-radius: 0.5rem;
    border: 1px solid $light;
    padding: .62rem 1.25rem;
    color: $Grey5;

    input {
        font-size: 1rem;
        border: none;
        outline: none;
        padding: 1rem;
        border-radius: none;
        color: $Grey5;
        width: 100%;  

        &::-webkit-input-placeholder {
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
        }
    }
    .task_detail {
        display: flex;
        gap: 1.25rem;

        & > * {
            flex: 1;
        }

        .task_input {
            span {
                font-size: .75rem;
                color: $error;
            }
        }
        input {
            border-bottom: 1px solid $Grey5;
            background: $light2;  
        }
    }
    .task_description {
        input {
            border-bottom: 1px solid $light;
        }
        span {
            font-size: .75rem;
            color: $error;
        }
    }
    .task_info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        // border-top: 1px solid $light;
        padding-top: 1.9rem;
    }
    .task_images {
        padding-right: 1.5rem;
        border-right: 0.0625rem solid $light;

        .task_copy {
            margin-right: 1.5rem;
        }
        img {
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;
        }
    }
    .task_required {
        display: flex;
        align-items: center;
        gap: .5rem;

        span {
            color: $Grey5;
            font-family: 'Open Sans',sans-serif;
        }
    }
    .task_toggle {
        width: 2.75rem;
        height: 1.375rem;
        border-radius: 3.125rem;
        border: 1px solid $light3;
        background: rgba(202, 206, 220, 0.20);
        cursor: pointer;
        padding: .25rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        span {
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 3.125rem;
            background: $light3;
        }

        &-active {
            align-items: flex-end;
            background-color: $Main1;

            span {
                background-color: $WhiteColor;
            }
        }
    }
}