@import "../../scss/main";

.faq {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  transition: all 1s;
  height: fit-content;

  @include sm {
    padding: 1.5rem 1rem;
  }

  &.dark {
    background-color: inherit;

    h3 {
      color: $WhiteColor;
    }

    p {
      color: $Grey2;
    }

  }

  &.light {
    background-color: $FAQBg;

    h3 {
      color: $HeaderText;
    }

    p {
      color: $BodyText;
    }
  }

  .faq_open {
    font-size: 1rem !important;
    height: auto !important;
    margin-top: 0.5rem !important;
  }

  .faq_content {
    padding-right: 1.5rem;

    @include md {
      padding-right: 1rem;
    }

    h3 {
      font-size: 1.125rem;
      line-height: 1.2;
    }

    p {
      line-height: 1.2;
      height: 0;
      font-size: 0;
      transition: all 0.1s ease;
      margin-top: 0;
    }
  }

  button {
    min-height: 1.25rem;
    min-width: 1.25rem;
    background: transparent;
    border-radius: 50%;
    border: 2px solid $GreyButton;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $GreyButton;
    line-height: 1;

    span {
      max-width: 60%;
      margin: 0 auto;
      overflow: hidden;
      font-size: 1rem;
    }
  }
}