@import "../../scss/main";

.matchSuccess {
    width: 26.5rem;
    max-width: 80%;
    border-radius: 0.5rem;
    background-color: $WhiteColor;
    text-align: center;
    padding: 1rem 1.25rem;
    color: $Black4;
    position: relative;

    .matchSuccess_close {
        cursor: pointer;
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        right: 1%;
        top: 0;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    span {
        font-size: 0.875rem;
        margin-bottom: 2rem;
        display: inline-block;
        width: 80%;
    }
    button {
        font-size: .875rem;
        color: $lightWhite;
        background-color: $Main1;
        padding: 0.625rem 0.75rem;
        height: 2.56rem;
        width: 100%;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;
    }
}