@import "../../../scss/main";

.dashboard_userView {
    .dashboard_intern-imgBox {
        display: flex;
        flex-direction: column;
        gap: .375rem;
        color: $ButtonGrey;
        font-size: 0.875rem;
        margin: 0;

        img {
            width: 22.5rem;
            height: 12.8rem;
            max-width: 90%;
            border-radius: .5rem;
            object-position: center;
            cursor: pointer;
        }
    }

    .dashboard_company-form {
        margin: .5rem 0 2rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        @include md {
            grid-gap: 1rem;
        }
    }

    .dashboard_company-container {
        display: flex;
        justify-content: flex-start;

        @include md {
            display: block;
        }
    }

    .dashboard_company-supervisor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2.5rem;
        grid-row-gap: 1.25rem;

        .textInput {
            min-width: 275px;
        }

        @include md {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0;
            grid-row-gap: 1rem;
        }
    }
}

//////////not nested because we use it in 2 places inside AdminUsers.jsx
.dashboard_options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    .dashboard_options_icons {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }

    svg:nth-child(3) {
        path {
            stroke: $DeleteColor;
            ;
        }
    }
}