@import "../../scss/main";

.help {
  overflow-x: hidden;
}

.help_top {
  color: $WhiteColor;
  padding: 6rem 1rem;
  text-align: center;
  background: linear-gradient(0deg, rgba(3, 30, 54, 0.6), rgba(3, 30, 54, 0.6)),
    url("../../assets/HelpBg.jpeg") no-repeat center center;
  background-size: cover;

  @include md {
    padding: 3rem 1rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.2;

    @include md {
      font-size: 2.5rem;
    }

    @include sm {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}