@import "../../scss/main";

.appHeadings {

    height: 4rem;
    background-color: $lightWhite;
    border-radius: 0.75rem;
    margin-bottom: 2.5rem;
    padding: 0 .5rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .06rem;

    h4 {
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid transparent;
        padding: 0 1rem;
    }

    &-active {
        border-bottom: 2px solid $PrimaryColor !important;
    }
}