.noTask {
    display: grid;
    place-items: center; 
    min-height: 75%;

    .noTask_detail {
        text-align: center;

        img {
            display: block;
            margin-bottom: .5rem;
        }

        span {
            display: block;
        }
    }
}