@import "../../scss/main";

.heading {
    border-radius: 0.5rem;
    background: $tableHead;
    width: 100%;
    padding: .75rem 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}