@import "../../scss/main";

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .sidebar_logo {
        text-align: center;
        margin-bottom: 1.69rem;
        cursor: pointer;

        img {
            @media only screen and (max-width: 1000px) {
                width: 6rem;
            }
        }
    }

    .sidebar_navItem {
        display: flex;
        align-items: center;
        height: 3rem;
        padding-left: 2rem;
        transition: all .1s ease-in-out;
        text-decoration: none;
        color: $Black2;

        svg {
            margin-right: 1.06rem;
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        span {
            @media only screen and (max-width: 1000px) {
                display: none;
                visibility: hidden;
            }
        }
    }

    a.active,
    .sidebar_navItem:hover {
        border-radius: 0rem 1rem 1rem 0rem;
        border-left: 2px solid $Main1;
        background: $Main2;
        cursor: pointer;

        svg {
            path {
                stroke: $Main1;
            }

            path:nth-child(5),
            path:nth-child(6) {
                stroke: $BlackLight;
            }
        }

        span {
            color: $Main1;
        }
    }

    .sidebar_info {
        margin-bottom: 1.5rem;
    }

    .sidebar_user {
        display: flex;
        align-items: center;
        border-top: 1px solid $BlackColor;
        margin: 0;
        padding: 1.5rem 1rem 0rem .5rem;
        cursor: pointer;

        .sidebar_userImg {
            margin-right: .5rem;

            @media only screen and (max-width: 1000px) {
                display: none;
            }
        }

        &-box {
            margin-right: 1rem;

            @media only screen and (max-width: 1000px) {
                display: none;
            }

            span {
                display: block;
            }
        }

        .sidebar_username,
        .sidebar_usermail {
            color: $BlackColor;
            font-size: 0.875rem;
        }

        .sidebar_usermail {
            font-size: 10px;
            font-weight: 700;
            text-overflow: clip;
            max-width: 3rem;
            width: 100%;
        }

        .sidebar_logout {
            cursor: pointer;
            margin-top: -1rem;
            margin-left: auto;

            @media only screen and (max-width: 1000px) {
                width: 1.5rem;
                height: 1.5rem;
                margin-left: .9rem;
                margin-top: 0;
            }
        }
    }
}