@import "../../scss/main";

.userFeedback {
  width: 1490px;
  max-width: 90vw;
  margin: 5rem auto;
  padding: 80px 3rem;
  background-color: $BlueBg;
  color: $WhiteColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  text-align: center;
  font-weight: 400;

  @include md {
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin: 3rem auto;
  }

  @include sm {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h1 {
    font-size: 1.25rem;
    color: $Main1;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0 2rem 0;
  }

  .userFeedback_user {
    height: 4rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1.125rem;
    color: $Main1;
    margin-bottom: 0.25rem;
  }

  .userFeedback_topDots {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 4rem;

    @include sm {
      display: none;
    }
  }

  .userFeedback_bottomDots {
    position: absolute;
    bottom: -0.5rem;
    right: 6rem;
    width: 4rem;
    transform: rotate(90deg);

    @include md {
      display: none;
    }
  }

  .userFeedback_circle1 {
    height: 292px;
    width: 292px;
    background-color: $Main1;
    filter: blur(240px);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }

  .userFeedback_circle2 {
    @extend .userFeedback_circle1;
    top: 0;
    left: unset;
    right: 0;
    transform: translate(50%, -50%);

    @include md {
      display: none;
    }
  }
}