$WhiteColor: #fff;
$lightWhite: #FAFAFA;
$BlackColor: #000;
$PrimaryColor: #da9a0a;
$SecondaryColor: #F49941;
$BlackLight: #292d32;
$PrimaryText: #0f172a;
$HeaderText: #101828;
$BodyText: #475467;
$Primary_Bg: #183059;
$error: #e63946;
$Main1: #DA980A;
$Main2: #F5EEDF;
$Black2: #232428;
$Black3: rgba(0, 0, 0, 0.87);
$Black4: #171717;
$BlueBg: #031E36;

$Grey1: #2B374A;
$Grey2: #94A3B8;
$Grey4: #D4D4D8;
$Grey3: #667085;
$Grey5: #757987;
$Grey6: #363636;
$Grey7: #52525B;

$OffWhite: #FFFCF5;
$LightPurple: #E9D7FE;

$FAQBg: #F9FAFB;
$GreyButton: #98A2B3;
$CheckGrey: #969696;
$ButtonBorder: #D0D5DD;
$light: #D7DAE4;
$light2: #EFF0F4;
$light3: #CACEDC;
$light4: #868686;
$InputBg: #F9F9FA;
$ButtonGrey: #344054;
$ErrorColor: #e63946;
$DeleteColor: #C62950;
$ParaLight: #EAECF0;
$Blue: #527AEF;
$tableHead: #EDEDED;

$shadow: rgba(16, 24, 40, 0.05);


// media queries

// extra small

$screen-xs-min: 425px;

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 767px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// extra Large tablets and desktops
$screen-xxl-min: 1440px;

@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

//Extra Extra large devices
@mixin xxl {
  @media (max-width: #{$screen-xxl-min}) {
    @content;
  }
}