@import "../../scss/main";

.career {
    overflow-x: hidden;
}

.career_main {
    padding: 3rem 0 0 0;

    @include sm {
        padding: 1.5rem 0 0 0;
    }

    .career_mainContent {
        width: 768px;
        max-width: 90vw;
        margin: 0 auto;
        text-align: center;

        @include md {
            text-align: left;
        }

        h1 {
            font-size: 3rem;
            font-weight: 700;
            color: $HeaderText;
            line-height: 1.2;
            margin-bottom: 1.5rem;

            @include md {
                font-size: 2.5rem;
            }

            @include sm {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }

        p {
            font-size: 1.125rem;
            color: $BodyText;
            line-height: 1.2;
        }
    }
}

.career_links {
    margin: 3rem auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    @include sm {
        gap: 1rem;
    }

    .career_link {
        width: 25rem;
        height: 10rem;
        border-radius: 12px;
        background: url("../../assets/careerLinkBg.png") no-repeat center center;
        background-size: cover;
        position: relative;

        @include md {
            width: 100%;
            height: 100%;
            min-height: 12rem;
        }

        @include sm {
            min-height: 8rem;
        }

        span {
            text-align: left;
            position: absolute;
            bottom: 10%;
            left: 5%;
            font-size: 1.2rem;
            font-weight: 700;
            color: $WhiteColor;
            padding-right: 10px;

            @include md {
                left: 10px;
                bottom: 1.5rem;
            }

            @include sm {
                font-size: 1rem;
                bottom: 1rem;
            }
        }
    }
}